=provide(:title, "Home")

- unless user_signed_in?
  .jumbotron.home
    %h1 Sample App
    %p
      This is the home page for the
      %a{ href: "http://www.railstutorial.org/" } 
        Ruby on Rails Tutorial
      sample application.
    = link_to "Sign up now!", new_user_registration_path, class: 'btn btn-lg btn-primary'
- else
  .row.home
    .col-md-12
      .col-md-2
        %p.head Menu
        %ul
          %li Top Topics
          %li Top Questions
          %li Video
          %li Game
      .col-md-7
        %p.head Top topics on KidPlays
        = render partial: 'posts/listing', locals: { posts: @posts }
      .col-md-3
        %p.head Popular tags
        %p.popular-tags
          - Tag.popular.each do |tag|
            %span.label.label-danger
              = tag.name