=provide(:title, "Home")

.row.home
  .col-md-12
    .col-md-2
      = render 'layouts/menu'
    .col-md-7
      %p.head Top topics on KidPlays
      = render partial: 'posts/listing', locals: { posts: @posts }
    .col-md-3
      = render 'tags/popular'