.posts.search
  .row
    .col.md-12
      .col-md-2
        = render 'layouts/search_filter'
      .col-md-7
        - if @posts.empty?
          %p.head No article found
        - else
          %p.head
            = pluralize(@posts.count, "article") + " found for"
            %span= @query
          = render partial: 'listing', locals: { posts: @posts }
      .col-md-3
  