// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Roboto);

$green-dark: #16A085 !important;
$green: #1ABC9C !important;
$yellow: #F1C40F !important;
$yellow-dark: #D8B00D !important;
$gray-extra-dark: #666 !important;
$gray-dark: #7F8C8D !important;
$gray: #BDC3C7 !important;
$gray-light: #FAFAFA !important;
$sea-dark: #2C3E50 !important;
$blue: #3498DB !important;
$blue-dark: #2980B9 !important;
$red: #E74C3C !important;
$red-dark: #C0392B !important;

html {
  height: 100%
}

body {
  position: relative;
  min-height: 100%;  
  font-family: 'Roboto', san-serif;
  color: $gray-extra-dark;
  font-size: 16px;
  line-height: 1.4em;
}

// Typo
h1, h2, h3, h4, h5, h6 {
  color: #000;
  line-height: 1.4em;
}
a {
  &:hover, &:focus {
    text-decoration: none;
  }
}
.head {
  color: $gray;
}
p.head {
  font-size: 14px;
}
h1.head {
  font-size: 18px;
  span {
    color: #222;
  }
}
h1.form-head {
  color: $gray-dark;
  font-size: 26px;
}
em.highlight {
  background: #f0f0f0;
}
textarea {
  resize: none;
  overflow: hidden
}

//Form
.form-control {
  border-radius: 5px;
  border: 3px solid #eee;
}

//Alert, button
.alert li {
  list-style-type: none  
}
.btn {
  border-radius: 4px;
  border: none;
  color: #fff;
  &:hover, &:focus {
    color: #fff
  }
}
.btn-primary {
  background: $blue;
  border-bottom: 4px solid $blue-dark
}
.btn-social {
  .icon {
    margin-right: 5px;
  }
}
.btn-facebook {
  background: #3b5998;
  border-bottom: 4px solid #2f4779;
  font-weight: bold;
}
.btn-twitter {
  background: #55acee;
  border-bottom: 4px solid #4489be;
  font-weight: bold;
}
.btn-google {
  background: $red;
  border-bottom: 4px solid $red-dark;
  font-weight: bold;
}
.btn-danger {
  background: $red;
  border-bottom: 4px solid $red-dark
}
.btn-default {
  background: #aaa;
  &:hover {
    background: #ccc
  }
}
.btn-highlight {
  background: $yellow;
  border-bottom: 4px solid $yellow-dark 
}

//Layout
.block {
  border: 1px solid #eeeeee;
  padding: 10px;
  margin-bottom: 5px;
  background: #fff;
  overflow: hidden;
}
.clearfix {
  clear: both;
}
#main {
  padding: 70px 0;
}
.footer {
  background: #eee;
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 100%;
  small {
    float: left
  }
  nav {
    float: right;
    li {
      list-style-type: none;
      padding: 0 10px;
      float: left
    }
  }
}
.auth-panel {
  margin: 0 auto;
  width: 90%;
  padding: 20px 20px 30px;
  background: $gray-light;
  border: 1px solid #eee;
  .btn-social {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
  }
  .btn.signin {
    font-size: 22px;
  }
  a {
    margin-top: 10px;
    display: block
  }
}

.form-block {
  border: 1px solid #eee;
  padding: 20px;
  background: #fafafa;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .auth-panel {
    width: 80%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .auth-panel {
    width: 40%;
  }
}


// Navbar
.navbar-pk {
  background: $green;
  a {
    color: #fff;
    font-weight: bold;
    &:hover, &:focus, &:visited {
      background: $green;
    }
  }
  .btn {
    color: #fff;
    font-weight: bold;
    margin-top: -5px;
    display: block;
    padding: 3px 15px;
  }
  .dropdown-menu {
    background: $green;
    a {
      &:hover, &:focus {
        color: #eee;  
      }
      color: #fff;
      font-weight: bold;
    }
  }
  .form-control {
    width: 400px;
  }
  .user-icon {
    border: 2px solid #eee;
    border-radius: 4px;
    margin-top: -5px;
  }
  .navbar-toggle {
    background: #fff;
    .icon-bar {
      background: $gray
    }
  }
}

//Modal
#make_a_share {
  text-align: center;
  .modal-content {
    box-shadow: none;
    border: 4px solid #eee;
  }
  .share-article {
    color: $green;
  }
  .share-link {
    color: $blue;
  }
  .share-video {
    color: $red;
  }
  .modal-header,.modal-footer {
    border-color: #fafafa;
  }
}

.pagination {
  background: white;
  cursor: default;
  float:right;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    color: #999999;
    border: 1px solid #dddddd;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: $blue;
    color: white;
    border: 1px solid $blue;
  }
  a {
    text-decoration: none;
    color: $blue;
    border: 1px solid $blue;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
    
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1;
      padding: 0.1em 0.25em; 
    }
  }  
}

.top5 {
  margin-top: 5px;
}