// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%
}

body {
  position: relative;
  min-height: 100%;  
}

#main {
  padding-top: 60px;
}

.footer {
  border-top: 1px solid #fafafa;
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 100%;
  small {
    float: left
  }
  nav {
    float: right;
    li {
      list-style-type: none;
      padding: 0 10px;
      float: left
    }
  }
}