// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
  height: 100%
}

body {
  position: relative;
  min-height: 100%;  
  font-family: 'Roboto', san-serif;
  background: #fafafa;
  line-height: 1.43em;
}

.form-control {
  border-radius: 0px;
  border: 1px solid #000;
}

.alert li {
  list-style-type: none  
}

.btn {
  border-radius: 0px  
}

.block {
  border: 1px solid #eeeeee;
  padding: 10px;
  margin-bottom: 5px;
  background: #fff;
}

.clearfix {
  clear: both;
}

#main {
  padding: 60px 0;
}

.footer {
  border-top: 1px solid #fafafa;
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 100%;
  small {
    float: left
  }
  nav {
    float: right;
    li {
      list-style-type: none;
      padding: 0 10px;
      float: left
    }
  }
}

.auth-panel {
  margin: 0 auto;
  width: 60%;
  padding: 20px;
  background: #eeeeee;
  .form-control {
    border-radius: 0px;
    border: 1px solid #000;
  }
  a {
    margin-top: 10px;
    display: block
  }
}