// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts {
  p {
    margin: 10px 0;
    line-height: 1.5em;
  }
  a {
    color: #222;
  }
  .block {
    padding: 0 10px;
  }
  .post-image {
    position: relative;
    background: #111;
    height: 200px;
    overflow: hidden;
    margin: 0 -10px;
    img {
      height: auto;
      position: absolute;
      transition: all 1s cubic-bezier(0.64, 0, 0.68, 0.81) 0s;
      width: 100%;
      &:hover {
        transform: translateY(-100px);
      }
    }
  }
}

.single-post {
  .btn-edit {
    margin-left: 10px;
  }
  .vote-panel {
    float: right;
    padding: 10px;
    border: 2px dashed #eee;
  }
  hr {
    margin-top: 30px;
  }
  .related-posts {
    margin: 5px 0 10px;
  }
}

em.highlight {
  background: #f0f0f0;
}