// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts {
  p {
    margin: 10px 0;
    line-height: 1.5em;
  }
  a {
    color: #222;
  }
  .row {
    padding: 10px 
  }
  .col-md-12 {
    background: #eeeeee;
  }
}

.single-post {
  .btn-edit {
    margin-left: 10px;
  }
}

em.highlight {
  background: #f0f0f0;
}